[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
psycopg = {extras = ["binary"], version = "*"}
python-dotenv = "*"
alembic = "*"
marshmallow = "*"
flask-jwt-extended = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]
black = "*"
ruff = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.4"
